body {
  /* background-color: #e8eaed; */
}
.header {
  background-color: rgb(223, 226, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#logo-header {
  margin-left: 20px;
  padding: 10px;
}
#info-sv {
  margin: 20px;
}
/* Sidebar */
.sidebar {
  /* padding-top: 90px; */
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
  width: fit-content;
  /* background-color: aquamarine; */
}
aside {
}
/**********************************************************/
html {
  /* Nasconde la barra di scorrimento verticale */
  /* overflow-y: hidden; */
}
.retro-mainView > div {
  min-height: calc(100vh - 3.5rem);
}
/**********************************************************/
#datatime {
  color: rgba(255, 255, 255, 0.75);
  padding-left: 5rem;
}
/**********************************************************/
/* Formattazione barra #my-sidebar */
@media (min-width: 768px) {
  #my-sidebar {
    flex: 0 0 11rem; /* Three values: flex-grow | flex-shrink | flex-basis (width)*/
    min-width: 11rem;
    height: 100%;
  }
}
#my-sidebar a:hover {
  background-color: #eee;
}
#my-sidebar .retro-subMemu {
  font-size: 0.875rem; /* 14px, invece .small = 85% */
}
#my-sidebar a.nav-link {
  /* style="font-weight: 700; == */
  font-weight: 600 !important;
}

#myAccordion {
  /* max-height: calc(100vh - 3.5rem); */
  overflow-y: auto;
}
#user[connected="true"] > i {
  color: lime;
}
/**********************************************************/
/********** BS Exstension ************/
.mt-6 {
  margin-top: 3.5rem !important;
}

/*************************************/

.retro-navbar {
  /*min-height: 50px;  height = 55.99 */
  background-color: #006699 !important;
}
.retro-navbar .navbar-nav .dropdown-menu {
  position: absolute !important;
}
.retro-navbar .navbar-nav .nav-link .badge {
  position: absolute;
  top: 0;
  left: 0;
}
.retro-bg-retro {
  background-color: #006699 !important;
}
.retro-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
/************** BS Retro Toggler ****************/
.retro-navbar-toggler {
  padding-right: 0;
  border-color: transparent !important;
}
.retro-navbar-toggler:hover {
  color: rgba(255, 255, 255, 0.75);
}
.retro-navbar-toggler:focus {
  color: rgba(255, 255, 255, 1);
  outline: 1px none;
}
.retro-navbar-toggler > .navbar-toggler-icon {
  background-image: none !important;
}

/* main */
.main {
  margin-top: 10px;
}

.content {
  /* margin-top: 10px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tbl-signUp {
}
.icon-dropdown {
  margin-right: 10px;
}

/* pagination */
.pagination {
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 5px 10px;
  text-decoration: none;

  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #3836b4;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

footer {
  margin-top: 5px;
  height: auto;
  background-color: rgb(223, 226, 255);
}

.profile {
  margin-top: 10px;
  padding: 20px;
  /* background-color: rgb(223, 226, 255); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
}
.prf-left {
  text-align: center;
  margin-top: 40px;
  padding: 50px;
  /* background-color: #dfe2ff; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

/* Seach */
.search {
}

/* input[type="text"] {
  padding: 10px 7px !important;
} */
.breadcrumb {
  margin: 0 !important;
}
#nav-search {
  background-color: #e9ecef;
}

/* Style báo cáo */
.activityiconcontainer.assessment {
  background-color: #007bff;
}

.activityiconcontainer {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 0.7rem;
}

.page-context-header {
  overflow: hidden;
  padding: 0.25rem 0;
  display: flex;
}

/* 
  .path-mod-assign .gradingsummarytable,
  .path-mod-assign .feedbacktable,
  .path-mod-assign .lockedsubmission,
  .path-mod-assign .submissionsummarytable {
      margin-top: 1em;
  } */

.generaltable {
  width: 100%;
  margin-bottom: 1rem;
  color: #1d2125;
}
/* style active */
.active {
  color: #1d2125 !important;
  background-color: #dfe2ff;
}

/* Đổi pass */

.doi-pass {
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}
.frm-changepass {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .title-them {
  margin-top: 15px;
} */
.formdetai {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.btndetai {
  grid-column-start: 1;
  grid-column-end: 3;
  place-self: center;
}

/* Main Css */
.card {
  margin-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06),
    0 1px 0px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background-color: #e9ecef;
}
.user-block-2 {
  background-image: url("../../Uploads/user-block-2.jpg");
  background-size: cover;
  padding: 20px 0;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.user-block-2 img {
  display: inline-block;
  border: 5px solid rgba(251, 137, 101, 0.43);
  border-radius: 50%;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* Validator css */
.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-text {
  color: #f33a58 !important;
}

.form-control:hover {
  border-color: #1dbfaf;
}

/* Form thêm đề tài */
#formthemdetai {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Post - main */

.post-main {
  width: 100%;
  /* height: fit-content; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.post-comments {
  height: fit-content;
  width: 100%;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.article-content__title {
  font-weight: bold;
}

.itemBaoCao {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  border: #eeeeee solid 1px;
  /* background-color: #e5f5fa; */
}
.itemBaoCao:hover {
  background-color: #d4e4f6;
}
